*{
  font: "arial";
}

header {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    background: #13293d;
    color: #fff;
  }

  footer {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    background: #13293d;
    color: #fff;
  }

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container1 {
  display: flex;
}

.container1header {
 border-right: 5px solid red;
 width: 120px; 
}

.container1content {
  padding-left: 10px;
  display: inline-flex;
}

.container2{
  display: flex;
}

.container2header {
  border-right: 5px solid red; 
  width: 120px;
 }
 
 .container2content {
   padding-left: 10px;
 }

 .container2header img {
  width: 120px;
  opacity: .0001;
 }

 .container2header img:hover {
  opacity: 1;
  cursor: pointer;
 }
