* {
  box-sizing: border-box;
}

body {
  background-color: #f4d779;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #9fb0e8;
    color: #050505;
  }

header h1 {
  margin-left: 60px;
  align-self: center;
  } 

header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
    padding-top: 15px;
    margin-right: 20px;
  }

header a {
    color: #050505;
    text-decoration: none;
}


main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container1 {
  display: flex;
  width: 100%;
}

.container1header {
 border-right: 5px solid #225699;
 width: 15%; 
 flex-wrap: wrap;
}

.container1content {
  padding-left: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.container1content img {
  max-height: 400px;
}

.container2{
  display: flex;
  width: 100%;
}

.container2header {
  border-right: 5px solid #225699; 
  width: 15%; 
 }

.container2header img {
  width: 100%;
  opacity: .0001;
 }

.container2header img:hover {
  opacity: 1;
  cursor: pointer;
 }

.container2content {
   padding-left: 10px;
   width: 100%;
 }

.cardTop img  {
  width: 60%;
  }

.card {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  width: 49.7%;
  float: left;
  margin-left: 0%;
  margin-right: 0%;
  align-content: center;
 }

.card a {
  text-decoration: underline;
  color: #050505;
}

footer {
    padding: 10px;
    background: #9fb0e8;
    color: #050505;
  }

footer ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
  }

footer a {
    text-decoration: underline;
    color: #050505; 
  }

@media screen and (max-width: 992px) {
  .container1content .container2content {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .container1content .container2content {
    width: 100%;
  }
.container1header {
    font-size: x-small;
  }
.container2header {
    font-size: x-small;
  }
.card {
    float: none;
  }
.container1content img {
  max-height: 200px;
  }
}